body {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 100vh;
    margin: 0;
    font-family: 'Arial', sans-serif;
    background-image: url('/imagenes/loli.jpg'); /* Reemplaza con la ruta correcta a tu imagen de fondo */
    background-size: cover;
    color: #fff;
}

/* ... (resto de tu CSS) */


h1 {
    margin-bottom: 20px;
}

p {
    max-width: 600px;
    text-align: center;
    line-height: 1.5;
}

a {
    color: #ff8352;
    text-decoration: none;
    font-weight: bold;
}

a:hover {
    text-decoration: underline;
}
