body {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 100vh;
    margin: 0;
    font-family: 'Arial', sans-serif;
    background-image: url('/imagenes/bg2.jpg'); /* Reemplaza 'ruta/de/tu/imagen.jpg' con la ruta de tu imagen */
    background-size: cover;
    background-position: center;
    color: #61dafb;
}


h1 {
    margin-bottom: 20px;
}

label {
    margin-top: 10px;
}

#player-name {
    margin-bottom: 10px;
    padding: 5px;
    font-size: 16px;
    border: 1px solid #61dafb;
    border-radius: 5px;
    color: #333;
}

.menu {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(0, 0, 0, 0.8);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    z-index: 2;
}

.menu-button {
    margin: 10px 0;
    padding: 10px;
    font-size: 16px;
    background-color: #3498db;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.menu-button:hover {
    background-color: #2980b9;
}

#pause-button,
#resume-button,
#restart-button,
#clear-table-button,
#restart-game-button {
    background-color: #3498db;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 10px;
    font-size: 16px;
    cursor: pointer;
    margin: 5px;
    transition: background-color 0.3s ease;
}

#pause-button:hover,
#resume-button:hover,
#restart-button:hover,
#clear-table-button:hover,
#restart-game-button:hover {
    background-color: #2980b9;
}

#game-board {
    width: 700px;
    height: 700px;
    border: 2px solid #61dafb;
    background-color: #282c34;
    position: relative;
    overflow: hidden;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

.snake {
    width: 20px;
    height: 20px;
    background-color: #3bb555;
    position: absolute;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color 0.2s ease-in-out;
}

.snake-head {
    background-color: #397130;
}

.food {
    width: 20px;
    height: 20px;
    position: absolute;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

#score {
    margin-top: 20px;
    font-size: 18px;
}

#score-table {
    margin-top: 20px;
}

#score-table h2 {
    color: #61dafb;
}

#score-list {
    list-style: none;
    padding: 0;
    margin: 0;
}

#score-list li {
    background-color: #3498db;
    color: #fff;
    border: 1px solid #61dafb;
    border-radius: 5px;
    margin-bottom: 5px;
    padding: 10px;
    font-size: 16px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#score-list li span {
    margin-right: 10px;
}
