body {
    font-family: 'Inter', sans-serif;
    line-height: 1.6;
}

.nav-link {
    text-decoration: none;
    color: #ddd;
    transition: color 0.3s ease;
}

.nav-link:hover {
    color: #FFD700;
}

input:focus, textarea:focus {
    outline: none;
    box-shadow: 0 0 8px rgba(255, 215, 0, 0.6);
}


/* Estilos generales del scrollbar */
::-webkit-scrollbar {
    width: 12px; /* Ancho del scrollbar */
}

/* Estilo de la parte del scrollbar que el usuario arrastra */
::-webkit-scrollbar-thumb {
    background-color: #f1c40f; /* Color del thumb */
    border-radius: 10px; /* Bordes redondeados del thumb */
    border: 3px solid #333; /* Borde alrededor del thumb */
}

/* Estilo de la parte del scrollbar que no es el thumb */
::-webkit-scrollbar-track {
    background: #2c3e50; /* Color de la pista del scrollbar */
    border-radius: 10px; /* Bordes redondeados de la pista */
}

/* Para Firefox */
body {
    scrollbar-width: thin; /* Ancho del scrollbar */
    scrollbar-color: #f1c40f #2c3e50; /* Color del thumb y de la pista */
}

.waifu-image {
    position: absolute;
    top: -65px; /* Mueve la imagen hacia arriba */
    left: -26px; /* Ajusta para mover 1 cm a la derecha (-64px + 38px = -26px) */
    width: 70px; /* Ajusta el tamaño de la imagen */
    height: auto;
    transform: rotate(-20deg); /* Ajusta el ángulo de inclinación */
    z-index: 5; /* Asegura que la imagen esté por encima del título */
}

/* Estilos básicos para el menú desplegable */
#languageMenu {
    display: none;
    position: absolute;
    right: 0;
    top: 100%;
    background-color: #f0f0f0;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    z-index: 1000;
}

#languageMenu a {
    display: block;
    padding: 10px;
    text-decoration: none;
    color: #333;
}

#languageMenu a:hover {
    background-color: #ddd;
}

/* Ocultar el scroll horizontal */
html, body {
    overflow-x: hidden;
    margin: 0; /* Asegúrate de que no haya margen por defecto que cause el scroll */
}

/* Asegúrate de que ningún elemento tenga un ancho mayor al viewport */
*, *::before, *::after {
    box-sizing: border-box;
}
